# Perform LF normalization on all text files
*       text=auto

# Config files must have CRLF line endings 
*.ini   text eol=crlf

# Mod Loader is oriented to Windows users, make txt files be CRLF
*.txt   text eol=crlf

# CMakeLists isn't a normal text file
CMakeLists.txt  text

